/* common settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: var(--links);
  color: var(--first-bg);
}
:root {
  --links: #F2C94C; /* Links color and button borders */
  --primary: #4f4f4f; /* Primary text color */ 
  --first-bg: white; /* First background color */
  --second-bg: #F2F2F2; /* Second background color */
}
html {
  font-family: 'Lato', sans-serif;
  color: var(--primary);
  line-height: 1.5em;
}
body {
  scroll-behavior: smooth;
}
/* to get rid of outline when pressing on a button or link */
button::-moz-focus-inner {
  border:0;
} 
button:focus, input:focus, textarea:focus {
  outline: none;
}
a {
  outline: none;
  text-decoration: none;
  color: var(--links);
  font-weight: bold;
}
ul {
  list-style: none;
}

/* header */
header {
  background-image: url("background.png"), url("http://d33wubrfki0l68.cloudfront.net/assets/11bedc960db5dd7e0b303f369d647645a624b11e/background.png"), white;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
  background-size: cover;
}
.greeting {
  position: absolute;
  text-align: center;
  width: 60%;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 30px 15px;
}
.greeting h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-bottom: 20px;
}
.greeting p {
  font-size: 1.4em;
  font-family: 'Kalam', cursive;
}
.scroll-arrow {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  color: var(--first-bg);
  text-align: center;
}
.scroll-arrow i {
  font-size: 2.5em;
}
.scroll-arrow i:hover {
  color: var(--links);
}

/* nav */
#nav-toggler {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 3em;
  height: 3em;
  text-align: center;
  z-index: 20;
  color: var(--primary);
}
#nav-toggler:focus {
  pointer-events: none;
}
#nav-toggler i {
  font-size: 3em;
}
#nav-toggler:focus + nav {
  visibility: visible;
  opacity: 1;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--first-bg);
  padding-top: 100px;
  text-align: center;
  cursor: pointer;
  transition: visibility ease-in-out 0.3s;
  height: 100%;
  width: 100%;
  max-width: 340px;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}
nav ul {
  height: 50%;
  display: flex;
  flex-direction: column;
}
nav a {
  flex: 100%;
  display: -webkit-box;  
  display: -moz-box;      
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary);
  height: 25%;
  font-size: 1.3em;
  transition: all ease-in-out 0.1s;
}
nav a:hover, nav a:active {
  background: var(--links);
}
.nav-links hr {
  width: 60%;
  height: 2px;
  margin: 10px auto 50px auto;
  color: var(--primary);
}
.nav-links a {
  color: var(--links);
  font-size: 2em;
  margin: 5px;
  display: inline;
}
.nav-links a:hover {
  color: var(--primary);
  background: none;
}

/* header */
.wrapper {
  margin: 0 auto;
  text-align: center;
}
header {
  height: 100vh;
}

/* Section common styles */
section {
  width: 100%;
  background: var(--first-bg);
  padding-bottom: 30px;
}
section h2 {
  /* border-bottom: 2px solid #B3BBBD; DElete */
  color: var(--primary);
  padding-bottom: 1em;
  padding-top: 2em;
  margin: auto auto 2em auto;
  width: 80%;
}

/* about */
.bio, .hard-skills, .soft-skills {
  margin-bottom: 1.5em;
}
.bio img {
  max-width: 288px;
  border: 1px solid var(--primary);
}
.bio p {
  margin: 1em auto;
  max-width: 288px;
}
.hard-skills h3, .soft-skills h3{
  margin-bottom: 1em;
}

/* Projects */
.projects {
  background: var(--second-bg);
}
.projects h2 {
  margin-bottom: 1em;
}
.item {
  width: 288px;
  margin: 0 auto;
}
.item h3 {
  color: var(--primary);
  margin: 1em auto;
}
.item p {
  padding: 0.5em 0;
  width: 288px;
  margin: 0 auto;
}
.frame {
  border: 1px solid var(--primary);
  border-radius: 10px;
  width: 288px;
  height: 160px;
  transition: .2s scale;
  overflow: hidden;
  position: relative;
  margin: 15px auto;
}
.frame > img {
  transition: all ease-out 0.3s;
}
.frame:hover > img {
  transform: scale(1.1);
}
.frame-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--primary);
  opacity: 0;
}
.frame-text {
  opacity: 0;
  position: absolute;
  z-index: 8;
  width: 80%;
  border-radius: 20px;
  font-size: 1.2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--first-bg);
}
.frame:hover > .frame-overlay {
  opacity: 0.5;
}
.frame:hover > .frame-text {
  opacity: 1;
}
.github-link {
  text-align: center;
  line-height: 30px;
  /* border: 2px solid var(--links); */
  border-radius: 20px;
  width: 200px;
  margin: 0 auto;
  padding: 3px;
}
.github-link a {
  color: var(--primary);
}
.github-link:hover  {
  background: var(--links);
}

/* contact */
.contact {
  background: var(--links);
}
fieldset {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  max-width: 600px;
}
.contact input, .contact #message, .contact button {
  box-sizing: border-box;
  width: 90%;
  margin: 10px;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: bold;
  background: var(--second-bg);
  padding-left: 0.5em;
  border: none;
}
.contact input {
  height: 50px;
}
.contact #message {
  padding-top: 0.5em;
}
.contact button {
  height: 50px;
  width: 200px;
  background: var(--primary);
  color: var(--links);
  cursor: pointer;
  border-radius: 20px;
}
.contact button:before {
  content: "Send";
  margin-right: 0.5em;
}
.contact button:hover {
  color: var(--first-bg);
}
.contact button:active {
  color: var(--links);
  transform: translateY(1px);
}
/* footer */
footer {
  background: var(--primary);
  padding: 20px 40px;
  text-align: center;
  position: relative;
}
.copyrights {
  margin-top: 15px;
  color: var(--first-bg);
}
footer a {
  font-size: 30px;
  margin: 2%;
  color: var(--links);
}
footer a:hover {
  color: var(--first-bg);
}

/* media queries */

@media screen and (min-width: 768px){
  html {
    font-size: 1.1em;
  }
  header {
    background-attachment: fixed;
  }
  .wrapper {
    width: 80%;
    max-width: 1200px;
  }
  /* projects */
  .projects .flex {
    display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;   
    display: -webkit-flex;    
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    flex: auto;
    margin: 10px;
  }
  /* about */
  .flex-container {
    display: flex;
  }
  .hard-skills, .soft-skills, .bio {
    flex: 1;
  }
  /* footer */
  footer a {
    font-size: 40px;
    margin: 5%;
  }
}
@media screen and (min-width: 1100px) {
}

@media screen and (min-width: 1440px){
}